@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color:#ffff ;
    text-decoration: none;
    padding: 35px;
   
}
#hero-img{
    width: 100%;
}
header{
    background-color: #7b99ae; 
    display:grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color:rgb(48, 28, 28);
    color: red; 

}

footer{
    background-color:  #7b99ae; 
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title{
    color:#66879e ;
}
h4{
    color: #66879e;
    font-family: "Roboto Mono";
}


.msg h2{
    color: #66879e;
    font-family: "Roboto Mono";
}
.msg p{
    color: rgb(46, 13, 13);
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color: #2f3a42;
    text-decoration: none;
}
footer a{
    color:rgb(46, 13, 13);
    text-decoration: none;
}
footer a:hover{
    color: red;
}
.social img{
    width: 80px;
    background-color:#7b99ae ;
    padding-top: 15px;
}

#hero-msg{
    padding: 10%;
    width: 85%;
    margin-top: -40%;     
}
#hero-msg h1,h4{
    color: white; 
}
#hero-msg h4{   
    width: 75%;
}
.logo{
    width: 150px;
}
#hero-msg h1{
    color: white; 
    font-size: 200%;
}