@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color:#ffff ;
    text-decoration: none;
    padding: 35px;
   
}
#hero-img{
    width: 100%;
}
